<% const contact = theme.contact; %>
<div class="contact-content">
	<div id="groupmy">
	    <div>
	        <img src="https://ypyobj.zkheo.top/qq2.png" title="QQ">
	    </div>
	    <div class="post-copyright__original-my">QQ</div>
    </div>
	<div id="groupmy">
	    <div>
	        <img src="https://ypyobj.zkheo.top/wx2.png" title="微信">
	    </div>
	    <div class="post-copyright__original-my">微信</div>
    </div>
</div>
<script>

</script>
